* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

# Windows batch file tetap CRLF
*.bat text eol=crlf
*.cmd text eol=crlf

# Binary files jangan diubah line endings
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.gz binary
*.exe binary

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
